.page_body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_container {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form {
    width: 100%;
    max-width: 400px;
    height: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(30, 30, 30, 0.5);
}

.form .group {
    position: relative;
    display: inline-flex;
}

.form .group .label {
    position: absolute;
    transform: translate(10px, 28.5%);
    cursor: text;
    user-select: none;
    transition: 0.25s;
}

.form .group .label.active {
    transform: translate(10px, -60%);
    background-color: var(--bs-body-bg);
}

.form .group .control {
    padding-right: 20%;
    padding-left: 10px;
}

.toggle_password_btn {
    position: absolute;
    right: 0;
    width: 20%;
    max-width: 40px;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
}

.toggle_password_btn .icon {
    width: 20px;
    height: 20px;
    fill: var(--bs-body-color);
    position: absolute;
    transform: translate(-50%, -50%);
}

.toggle_password_btn:hover,
.toggle_password_btn.btn:active {
    background-color: transparent;
    border-color: transparent;
}

.toggle_password_btn.btn:focus-visible {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.error {
    color: red;
    font-size: 10px;
    margin-left: 10px;
}