.hero_area--container {
    padding-top: var(--header-height);
    width: 100%;
    height: 100vh;
    background-color: white;
    overflow: hidden;
}

.hero_area--container .hero_area .text_content--container,
.hero_area--container .hero_area .images--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hero_area--container .hero_area .text_content--container .text_content--header {
    font-weight: 700;
    font-size: 34px;
}

.hero_area--container .hero_area .text_content--container .text_content--body {
    width: 100%;
    text-align: center;
}

.hero_area--container .hero_area .images--container .images--top,
.hero_area--container .hero_area .images--container .images--bottom {
    height: 50%;
    display: flex;
    gap: 10px;
}

.hero_area--container .hero_area .images--container .images--top {
    align-items: end;
}

.hero_area--container .hero_area .images--container img.img-big{
    width: 90%;
    height: 90%;
}

.hero_area--container .hero_area .images--container img.img-small {
    width: 75%;
    height: 75%;
}
