.navbar_bonus {
    background-color: rgb(240, 240, 240);
    box-shadow: 0 3px 5px rgba(90, 90, 90, .5);
    padding: 10px 0 10px 0;
}

.nav-link.active {
    font-weight: 700;
}

.footer-container {
    background-color: rgba(180, 180, 180, 0.3);
    padding-top: 20px;
}

.footer-container .footer-icon {
    margin: 5px;
}